i.logo {
    width: .75em;
    height: .75em;
    font-size: .75em !important;
    padding: .75em;
    display: inline-block;
}
i.logo-cpp{
    background-size:cover;
    background-image:url(../img/cpp.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-xml{
    background-size:cover;
    background-image:url(../img/xml.png);
}
i.logo-toml{
    background-size:cover;
    background-image:url(../img/toml.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-yaml{
    background-size:cover;
    background-image:url(../img/yaml.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-rust{
    background-size:cover;
    background-image:url(../img/rust.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-csharp{
    background-size:cover;
    background-image:url(../img/csharp.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-vs{
    background-size:cover;
    background-image:url(../img/visualstudio.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}

i.logo-cmake{
    background-size:cover;
    background-image:url(../img/cmake.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}

i.logo-json{
    background-size:cover;
    background-image:url(../img/json.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-css{
    background-size:cover;
    background-image:url(../img/css.png)
}

i.logo-gearvr{
    background-size:cover;
    background-image:url(../img/gearvr.png)
}

i.logo-html5{
    background-size:cover;
    background-image:url(../img/html5.png)
}

i.logo-rasppi{
    background-size:cover;
    background-image:url(../img/rasppi.png)
}
i.logo-unity{
    background-size:cover;
    background-image:url(../img/unity.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
  
}
i.logo-ue4{
    background-size:cover;
    background-image:url(../img/unrealengine.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-git{
    background-size:cover;
    background-image:url(../img/git.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-perforce{
    background-size:cover;
    background-image:url(../img/perforce.png);
}
i.logo-lua{
    background-size:cover;
    background-image:url(../img/lua.svg);
    filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
}
i.logo-jira{
    background-size:cover;
    background-image:url(../img/jira.png);
}

.featurette-icon{
    color:#ff8b00!important;
}

.text-orange{
    color:#ff8b00!important;
}

a{
    color:#ff8b00!important;
}
.navbar .navbar-nav .nav-link{
    color:#111!important;
}
.navbar .navbar-nav .nav-link.active{
    color:#ff8b00!important;
}

.btn-outline-primary:hover{
    color:#fff!important;
    background:#ff8b00!important;
    border-color:#ff8b00;
}

.btn-outline-primary{
    color:#ff8b00;
    border-color:#ff8b00;
}

.navbar-brand{
    font-family:'Permanent Marker';
    color:#111!important;
}

.portrait-title h2{
    font-family:'Permanent Marker';
}

.text-blue{
    color:rgb(7, 108, 241)!important;//#filter: invert(27%) sepia(71%) saturate(4152%) hue-rotate(206deg) brightness(100%) contrast(95%);
}

.text-green{
    color:rgb(7, 241, 132)!important;//#07f184
}

.text-pink{
    color:rgb(212, 63, 138)!important;
}


.text-black{
    color:rgb(0, 0, 0)!important;
}
body.dark  i.text-black{
    color:rgb(255, 255, 255)!important;
}

.text-gray{
    color:#808080!important;
}

.svg-gray{
    filter: invert(55%) sepia(3%) saturate(13%) hue-rotate(314deg) brightness(91%) contrast(77%)!important;
}

.svg-blue{
    filter: invert(27%) sepia(71%) saturate(4152%) hue-rotate(206deg) brightness(100%) contrast(95%)!important;
}

.svg-black{
    filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(314deg) brightness(101%) contrast(105%)!important;
}
body.dark  i.svg-black{
    filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%)!important;
}

.svg-green{
    filter: invert(81%) sepia(97%) saturate(2792%) hue-rotate(72deg) brightness(93%) contrast(104%)!important;
}

.svg-pink{
    filter: invert(53%) sepia(63%) saturate(6791%) hue-rotate(308deg) brightness(90%) contrast(83%)!important;
}
#skilloverview{
    padding-bottom: 5px;
}
#skilllist{
    padding-top: 10px;
}

table{
display: table;    
}

#about h3{
    font-weight: 400!important;
}